{% trans_default_domain 'FOSUserBundle' %}

<body>
<h1 style="text-align: center; font-size: 45px;"">Profil</h1>
{% if is_granted('ROLE_ADMIN') %}
  <div style="margin-left: 25%;"><a href="{{path('oc_user_cavaliers')}}"><button class="btn btn-primary">Voir tous les cavaliers</button></a></div>
{% endif %}
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-3 offset-md-3">
        </div>
        
             <div class="col-md-6 article">
                
                <div class="fos_user_user_show">
                        {% if user.pictureName %}
        <div>
    <img style="float: right;" src="{{ asset('uploads/pictures/'~ user.pictureName) }}"
         style="width:100px; height:100px;">
        </div>
    {% else %}
        <div style="float: right;">
        Pas de photo de profil
        </div>
    {% endif %}
    <b><p>{{ 'Numéro de licence' }}:</b> {{ user.username }}</p>
    <b><p>{{ 'Nom' }}:</b> {{ user.nom }}</p>
    <b><p>{{ 'Prénom' }}:</b> {{ user.prenom }}</p>
    <b><p>{{ 'profile.show.email'|trans }}:</b> {{ user.email }}</p>
    <b><p>{{ 'Numéro de téléphone' }}:</b> {{ user.numtelephone }}</p>
    {% if user.pictureName %}
        <div>
    <img src="{{ asset('uploads/pictures/'~ user.pictureName) }}"
         style="width:100px; height:100px;">
        </div>
    {% else %}
        <div>
        Pas de photo de profil
        </div>
    {% endif %}
     <h3>Contact d'urgence</h3>
    <b><p>{{ 'Nom' }}:</b> {{ user.cunom }}</p>
    <b><p>{{ 'Prénom' }}:</b> {{ user.cuprenom }}</p>
    <b><p>{{ 'Numéro de téléphone' }}:</b> {{ user.cunumtelephone }}</p>
    <b><p>{{ 'Adresse' }}: </b>{{ user.cuaddrpostale }}</p>
    <b><p>{{ 'Profesion' }}:</b> {{ user.cuprofession }}</p>
                </div>
                <div>

<div><a href="{{path('fos_user_profile_edit')}}"><button class="btn btn-primary">Modifier</button></a></div>
<div><a href="{{path('fos_user_change_password')}}"><button class="btn btn-primary">Changer de mot de passe</button></a></div>
                </div>
             </div>
        </div>

    </div>

</div>
</body>


